li.krr-li-view {
    font-family: Verdana;
    font-size: small;
    color: gainsboro;
    display: block;
    padding:0px;
    margin:0px;
    height: 48px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

li.krr-li-view div.container{
    display: block;
    position:absolute;
    height: 48px;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

li.krr-li-view div.container div.slider {
    display: block;
    position: absolute;
    background-color: rgb(60,60,60);
    height: 48px;
    top: 0px;
    left: 0px;
    width: 100%;
}
li.krr-li-view div.container div.slider:before {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(255,255,255, 0.1);
    height: 1px;
    top: 0px;
    left: 0px;
    width: 100%;
}

li.krr-li-view:last-child div.container div.slider:after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(255,255,255, 0.1);
    height: 1px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

/*
li.sali div.container div.slider:hover {
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    left: 20%;
    width: 80%;
}
*/

li.krr-li-view div.container div.slider h3.caption {
    display: block;
    position: absolute;
    line-height: 48px;
    height: 48px;
    left: 1em;
    top: 0px;
    width: calc(100% - 2em);
    font-size: medium;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
    padding: 0px;
    user-select: none;
    cursor: default;
}

li.krr-li-view div.container div.delete {
    display: block;
    position: absolute;
    top: 0px;
    width: 48px;
    height: 48px;
    right: 0px;
    padding: 0px;
    text-align: center;
    background-color: darkred;
    color: whitesmoke;
    font-size: x-large;
    line-height: 48px;
}

li.krr-li-view div.container div.selector {
    display: block;
    position: absolute;
    top: 0px;
    width: 48px;
    height: 48px;
    left: 0px;
    padding: 0px;
    text-align: center;
    background-color: rgb(90,90,90);
    color: rgba(255,255,255,0.9);
    font-size: x-large;
    line-height: 48px;
}

.log {
    position: absolute;
    display: block;
    width: 500px;
    height: 500px;
    left: 600px;
}

.add {
    display:block;
    position:absolute;
    background-color:#3c3c3c;
    height:48px;
    top:0;
    left:0;
    width:100%;
    font-family:Verdana;
    font-size:small;
    color:gainsboro;
    display:block;
    padding:0;
    margin:0;
    height:48px;
    white-space:nowrap;
    overflow:hidden;
    width:100%;
    display:block;
    position:absolute;
    line-height:48px;
    height:48px;
    left:1em;
    top:0;
    width:calc(100% - 2em);
    font-size:medium;
    font-weight:400;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    margin:0;
    padding:0;
    user-select:none;
    cursor:default
}
.add h3 {
    
}
